.nav {
    background-color: #1100ff;
    border: none;
    color: white;
    font-weight: 500;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    font-weight: 500px;
    /* display: inline-block; */
    transition-duration: 0.1s;
    width: auto;
    border-bottom: 2px solid violet;
}

.nav:hover{
    background-color: aqua;
    color: blue;
}