.social{
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    font-weight: 500px;
    /* display: inline-block; */
    /* font-size: 16px; */
    transition-duration: 0.1s;
    width: 180px;
    margin: 5px;
}

#fb{
    color: white;
    background-color: blue;
}

#wa{
    color: white;
    background-color: green;
}

#ig{
    color: white;
    background-color: rgb(255, 0, 179);
}

#li{
    color: white;
    background-color: rgb(2, 0, 128);
}

#ml{
    color: rgb(255, 0, 0);
    background-color: rgb(255, 255, 255);
    border: red, solid, 5px;
}
